.Polaris-Card:first-of-type {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 90vw;
  height: 50vh;
  text-align: center;

  & button {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

h3.Polaris-Heading {
  margin-bottom: 20px;
  font-size: 3.6rem;
  line-height: 1.15;
}

.weather-info {
  text-align: center;

  &__container-image {
    margin: 0 auto;
    width: 90%;
    min-width: 180px;
    max-width: 250px;

    & img {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}